
@font-face {
    font-family: 'bookhand';
    src: url(/fonts/elementary_gothic_bookhand/Elementary_Gothic_Bookhand.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'burton';
    src: url(/fonts/burtons_nightmare/NITEMARE.TTF) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'pieces';
  src: url(/fonts/pieces_of_eight/Pieces\ of\ Eight.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

  body {
    margin: 0;
    background-color: #170a0a;
    scroll-behavior: smooth;
    cursor: url("/img/creepy-eyes-custom-cursor.png") 16 16, auto;
  }

body::-webkit-scrollbar {
  height: 2px;
}

body::-webkit-scrollbar-track {
  background: #111;
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #470b0b, #430202); 
  border-radius: 6px;
  box-shadow: 0 0 10px #520303, 0 0 20px #5e090986;
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, #5d1414, #620505); 
  box-shadow: 0 0 10px #520303, 0 0 20px #5e090986;
}

nav {
  background-color: #0800008c;
  box-shadow: 0 0 50px rgba(153, 17, 17, 0.442), 0 0 60px rgba(107, 2, 2, 0.238);
  padding: 10px 20px;
  height: 80px;
  position: relative;
  z-index: 1000; 
} 

nav a, .dropdown a, .dropdown-sub a, .dropdown-content a, .dropdown-sub-content a, a:hover{
  cursor: url("/img/creepy-eyes-custom-cursor-ticika.png") 16 16, pointer;
}

.nav-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 100%;
}

.logo img {
  height: 350px; 
  width: auto;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navigation > a,
.dropdown > a {
  color: #955959;
  text-decoration: none;
  padding: 14px 16px;
  display: block;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #080000d4;
  top: 100%;
  left: 0;
  min-width: 180px;
  border-radius: 5%;
  z-index: 10;
  flex-direction: column;
}

.dropdown-content a {
  color: #955959;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}

.dropdown-sub {
  position: relative;
}

.dropdown-sub-content {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #080000d4;
  border-radius: 5%;
  min-width: 180px;
  z-index: 20;
  flex-direction: column;
}

.dropdown-sub-content a {
  padding: 10px 15px;
}

.dropdown-sub > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown > a i,
.dropdown-sub > a i {
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.dropdown:hover > a i {
  transform: rotate(90deg);
}

.dropdown-sub:hover > a i {
  transform: rotate(90deg);
}

.login-btn button {
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  border-radius: 5%;
  color: #955959;
  cursor: pointer;
  font-size: 10px;
  font-family: 'bookhand', sans-serif;
  transition: background-color 0.2s ease;
}

.login-btn button:hover {
  color:#7d3030;
  transform:translateY(-2px);
  transition: transform 0.3s ease;
  cursor: url("/img/creepy-eyes-custom-cursor-ticika.png") 16 16, pointer;
}

.dropdown > a,
.navigation > a {
  font-family: 'bookhand', sans-serif;
}

.dropdown-sub > a,
.dropdown-content a,
.dropdown-sub-content a {
  font-family: 'burton', sans-serif;
  font-size: 20px;
}

.dropdown-content,
.dropdown-sub-content {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none; 
}

.dropdown:hover > a i,
.dropdown-sub:hover > a i {
  transform: rotate(90deg);
}

.dropdown:hover .dropdown-content,
.dropdown-sub:hover .dropdown-sub-content {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  box-shadow: 0 8px 25px rgba(255,0,0,0.4); 
}

 nav a:hover{
  transform:translateY(-2px);
  transition: transform 0.3s ease;
  animation: flicker-hover 1.5s infinite alternate;
}
@keyframes flicker-hover {
    from{
   text-shadow: 0 0 50px rgb(172, 78, 78), 0 0 70px rgb(215, 89, 89);
   color:#cb6b6b
  }
  to {
    text-shadow: 0 0 50px rgb(133, 37, 37), 0 0 70px rgb(154, 83, 83);
    color:#814444;
  }
}

.vinyl-info {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
}

.scorpions1-image-info {
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scorpions1-image-info img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;

}

.scorpions1-description {
  flex: 1 1 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #c48b8b;
}

.scorpions1-description h1 {
  font-size: 32px;
  margin: 0;
  font-family: 'bookhand', sans-serif;
  text-align: left;
}

.scorpions1-description .price {
  font-size: 20px;
  color: #804d4d;
  margin: 0;
}

.scorpions1-description button {
  margin-top: 20px;
  background: transparent;
  border: none;
}

.scorpions1-description button a {
  display: inline-block;
  width: 100%;
  max-width: 500px;
  height: 50px;
  background: rgb(71, 2, 2);
  color: rgb(196, 118, 118);
  text-decoration: none;
  border: 1px solid rgb(196, 118, 118);
  border-radius: 8px;
  font-family: "Cinzel", serif;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  transition: 0.3s;
}

.scorpions1-description button a:hover {
  background-color: #1f0707;
  cursor: url("/img/creepy-eyes-custom-cursor-ticika.png") 16 16, pointer;
}

.scorpions1-description .vinyl-information {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-tabs {
  max-width: 100%;
  height: auto;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.tab-btn {
  padding: 8px 15px;
  background-color: rgb(71,2,2);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-family: 'bookhand', cursive;
  transition: all 0.2s ease;
}

.tab-btn:hover{
  cursor: url("/img/creepy-eyes-custom-cursor-ticika.png") 16 16, pointer;

}

.tab-btn.active {
  background-color: rgb(120,10,10);
  box-shadow: 0 0 10px rgba(255,0,0,0.5);
}

.tab-content {
  background-color: rgb(30,0,0);
  color: #ffdddd;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255,0,0,0.2);
  font-family: 'pieces', sans-serif;
  font-size: 30px;
  overflow-y: auto;
  max-height: 250px;
  max-width: 700px;
}

.tab-content::-webkit-scrollbar {
  height: 2px;
}

.tab-content::-webkit-scrollbar-track {
  background: #111;
  border-radius: 6px;
}

.tab-content::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #470b0b, #430202); 
  border-radius: 6px;
  box-shadow: 0 0 10px #520303, 0 0 20px #5e090986;
}

.tab-content::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, #5d1414, #620505); 
  box-shadow: 0 0 10px #520303, 0 0 20px #5e090986;
}

footer{
  display: flex;
  justify-content: center;
  color: #c7a9a9;
  background-color: #0800008c;
  font-family: 'burton', sans-serif;
}

.feedback{
  display: flex;
  justify-content:center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  padding: 20px 50px 20px;
  border-radius: 5px;
  max-width: 1000px;
  margin: auto;
}

.feedback input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 5px 15px;
  margin: 10px 100px 10px;
  color: lightcoral;
  max-width: 200px;
  text-align: center;
  background-color: rgb(43, 8, 8);
  border: none;
  font-family: 'bookhand', sans-serif;
  cursor: pointer;
  cursor: url("/img/creepy-eyes-custom-cursor-ticika.png") 16 16, pointer;

}

.feedback input:focus{
    border: solid 1px;
    border-color: #e50914;
    background: #330202;
    outline: none;
}

.feedback input[type='submit']:hover {
  color:rgb(134, 68, 68);
  background-color: #470b0b;
  cursor: url("/img/creepy-eyes-custom-cursor-ticika.png") 16 16, pointer;
}

.footer-text, .merchandising-title, .section-title{
animation: flicker-static 1.5s infinite alternate;
}
@keyframes flicker-static{
  from{
   text-shadow: 0 0 50px rgb(172, 78, 78), 0 0 70px rgb(215, 89, 89);
   color:#cb6b6b
  }
  to {
    text-shadow: 0 0 50px rgb(133, 37, 37), 0 0 70px rgb(154, 83, 83);
    color:#814444;
  }
}